<ion-header>
  <!-- <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Professor Home
    </ion-title>
  </ion-navbar> -->
  <style>
    .selectable{
      -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
  </style>
</ion-header>
<ion-content id="page4" overflow-scroll="true">
  <body>
    <!-- <button ion-button (click)="gamecode()"></button> -->

  <div *ngIf="code==0" style="text-align: center;"><br><br><br><br><br>
    <ion-item>
      <ion-label style="color: darkgray;">Game mode:</ion-label>

    <button ion-button style="background-color: transparent;color:cornflowerblue;" item-right outline class="randomall" (click)="randomall()">Random all players</button>
    <button ion-button style="background-color: transparent;color:cornflowerblue;" item-right outline class="allsame" (click)="allsame()">All same opponents</button><br>
  </ion-item>
      <ion-item>
        <ion-label>No. of rounds:</ion-label>
        <ion-input type="number" [(ngModel)]="rounds" required="true" clearInput=true min="2" max="10" step="2"></ion-input>

</ion-item>

   <br>
    <button ion-button (click)="gamecode()" block>Generate game code &nbsp;<ion-icon name="color-wand"  style="color:white;font-size:25px;"></ion-icon></button>

  </div>

    <p *ngIf="ok" style="color:red; margin-left: auto; margin-right: auto; padding-right: 10px; padding-left: 10px;">
      Please choose game mode
    </p>
  <div *ngIf="code!=0 && waitforstudent!=true && (randomm != false || alllsame != false)">
      <div style="text-align: center;" class="selectable">
        <h2>Game code: <p id="gameId">{{code}}</p> &nbsp;<ion-icon name="refresh" (click)="gamecode()" style="color:cornflowerblue;font-size:25px"></ion-icon></h2>

      </div>

  <h4 id="professorHome-heading1" style="color:#000000;text-align: center;">
    No. of students joined:  {{studentnum}}
  </h4>

  <h5 id="professorHome-heading2" style="color:#000000;">
    List of students:
  </h5>

  <ion-card>
    <ion-list>
      <ion-item id="professorHome-list-item-container3">
        <div id="professorHome-markdown3" *ngFor="let u of list" class="show-list-numbers-and-dots">
          <h5 style="margin-top:0px;color:#000000;font-size:17px;">
            {{u}}
          </h5>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
  <button id="professorHome-button2" (click)="Next()" ion-button color="positive" block *ngIf="studentnum!=0 && studentnum%2==0">
    Start game
  </button>
  <button id="professorHome-button2" (click)="Next()" ion-button color="positive" block *ngIf="studentnum==0 || studentnum%2!=0" disabled>
    Start game
  </button>
  <br>
  <div style="text-align: center;">
   <h6> Link to website:</h6>
  <img src="../../assets/img/qrcode.PNG"/>
</div>
</div>
<div *ngIf="waitforstudent" style="text-align: center;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Symbol_wait_vote.svg/996px-Symbol_wait_vote.svg.png"  style="display:block;width:20%;margin-left:auto;margin-right:auto;"/>
  <h3>Please wait for students to finish their game..</h3>
</div>
</body>
</ion-content>
