<ion-header>
  <!-- <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Proposer
    </ion-title>
  </ion-navbar> -->
  <style>
  .bottom-right {
float:right;
margin-bottom: 10px;

}
</style>
</ion-header>
<ion-content padding id="page2" *ngIf="dontshow!=true">

  <!-- <countdown units="Seconds"  end="July 22, 2019"></countdown> -->
  <h5>Hello {{username}}</h5>
  <h3 id="proposer-heading5" style="color:#000000;">
    Amount: 100&#8364;
  </h3>
  <form id="proposer-form7">
    <h5 id="proposer-heading4" style="color:#000000;">
      How much would you like to offer?
    </h5>
    <!-- <img src="assets/img/aKQqu3WrSKSojrAxfjsf_piechart.PNG" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" /> -->
    <ion-item id="proposer-range2">
      <ion-range min="0" max="100" step="1" color="positive" value="50" pin="true" [(ngModel)]="range" [ngModelOptions]="{standalone:true}">
        <ion-label range-right *ngIf="range!=null || range!=undefined">
         {{range}}&#8364;
        </ion-label>
        <ion-label range-left >
          Amount:
         </ion-label>
      </ion-range>
    </ion-item>
  </form>
  <button id="proposer-button5" ion-button color="positive" block (click)="Next()">
    Submit offer
  </button>
  <div class="spacer" style="width:300px;height:22px;" id="proposer-spacer1"></div>
  <img src="assets/img/KSLQgHmBQfqnvxBcXWrt_timer.PNG" style="display:block;width:10%;height:auto;margin-left:auto;" />
  <div class="bottom-right">{{maxtime}}</div>
</ion-content>
