<!--
  Generated template for the GamecodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>gamecode</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <div *ngIf="hide!=true">
    <img src="assets/img/F8bSjVZITEiuY4kgVA98_ultimatumlogo.PNG" style="display:block;width:40%;margin-left:auto;margin-right:auto;" />
    <form #submitUltimatumForm="ngForm">
        <ion-item id="ultimatum-input1">
          <ion-label></ion-label>
          <img src="assets/img/GiAeXOZRSuS8siHGnzJf_arrow.png" style="width:4%;height:auto;" item-left/>
          <ion-input type="text" placeholder="GAME CODE" item-right [(ngModel)]="gamecode" [ngModelOptions]="{standalone:true}"></ion-input>
        </ion-item>
      </form>
      <button id="ultimatum-button1" ion-button color="positive" block (click)="Next(submitUltimatumForm)">
        JOIN GAME!
      </button>
      <!-- <p ion-text *ngIf="gamecode != '' && submitted == true" color="danger" padding-left class="errormsg">
        Please enter game code
      </p> -->
    </div>
    <div *ngIf="hide==true">
      <ion-card>
        <br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Symbol_wait_vote.svg/996px-Symbol_wait_vote.svg.png"/>
        <h4 style="font-size: 18px;">You are a responder, please wait for proposer to make a move...</h4>
<br>
   </ion-card> 
  </div>
</ion-content>
